<form class = "container" [formGroup]="currencyForm">
    <h1>Currency</h1>
    <div>
        <select (input)="changeCurrency($event)">
            <option *ngFor="let key of currencies" [value]="key" [selected]="key == currentCurrency">
                {{key}}
            </option>
        </select>
    </div>
</form>

<div class = "container">
    <h1>Add/edit item</h1>
    <form [formGroup]="addForm" (ngSubmit)="addItem()">
        <div class="form-group row">
            <label class="col-2" for="name">Name</label>
            <input class="col-4" id="name" [formControl]="addForm.controls['name']">
        </div>
        <div class="form-group row">
            <label class="col-2" for="category">Category</label>
            <input class="col-4" id="category" [formControl]="addForm.controls['category']">
        </div>

        <div class="form-group row">
            <label class="col-2" for="category">Value</label>
            <input class="col-4" id="value" [formControl]="addForm.controls['value']">
        </div>
        <button type="submit" class="btn btn-outline-success">Submit</button>
    </form>
</div>
<div>
    <table class="table table-sm table-striped">
        <thead>
        <tr>
            <th class="text-center">Name</th>
            <th class="text-center">Category</th>
            <th class="text-center">Value</th>
            <th class="text-center">Actions</th>
            <th class="text-center">Edit</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of items">
            <td class="text-center">{{item.name}}</td>
            <td class="text-center">{{item.category}}</td>
            <td class="text-center">{{item.value * exchangeData[currentCurrency] | number: '1.1-2'}} {{currentCurrency}}</td>
            <td class="text-center">
                <button type="button" class="btn btn-outline-danger" (click)="removeItem(item)">delete</button>
            </td>
            <td class="text-center">
                <button type="button" class="btn btn-outline-secondary" (click)="editItem(item)">edit</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
